@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');
$font-stack: 'Maven Pro', sans-serif;

*{
    font-family: $font-stack;
    font-weight: 800;
}
h1{
    text-align: center;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    margin-top: 30px;
}
a{
    background-color: orange;
    border-radius: 18px;
    display: flex;
    align-items: center;
    padding: 25px;
    width: 90vw;
    height: 220px;
    gap: 4rem;
    text-decoration: none;

    img{
        padding: 30px;
        background-color: whitesmoke;
        border-radius: 10px;
        width: 180px;
        height: 180px;
    }

    span{
        color: white;
        font-size: 50px;
        font-weight: bold;
    }
}